*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}


.header{
    background: url(../page-1/img/header-image-1.jpg);
height: 731px;
max-width: 100%;
background-repeat:no-repeat;
background-size: cover;
overflow: hidden;
margin-bottom: 50px;
position: relative;
}


.conteiner_nav{
    width: 1050px;
    margin: 0 auto; 
}
.nav{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: 'Commissioner', sans-serif;
    margin-top: 38px;
    padding: 0px 0px 38px 0px;
    border-bottom: 1px solid #fff;
}
.nav_links a{
    padding: 0px 0px 50px 0px;
    margin:20px;
    color: #fff;
}
.nav_links a:hover{
    border-bottom: 5px solid #fff;
}






.conteiner_sidebar{
    background-color: black;
    height: 200px;
    width: 350px;
    display: flex;
    justify-content: center;
    padding: 15px 50px 10px 50px;
box-shadow: 0 4px 16px;
font-family: 'Commissioner', sans-serif;
position: absolute;
right: 195px;
bottom: 80px; 
}
.form_title{
    color: #EB0004;
font-size: 24px;
text-align: center;
margin-bottom: 22px; 
}

.form_groupe{
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;   
    margin-bottom: 18px;        
}
.form_input{
width: 250px;
height: 30px;
padding: 5px 10px 5px 10px;
background-color: #fff;
opacity: 0.8;
border-bottom: 1px solid black;
transition: 0.3s;
}

.form_btn{
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
    width: 250px;
height: 30px;
padding: 5px 20px;
background-color: #EB0004;
color: #fff;
cursor: pointer;
transition: 0.3s;
}
.form_btn:hover,
.form_btn:focus{
    background-color: #B60000;
}
.form_input:hover,
.form_input:focus{
    border-bottom: 3px solid #EB0004;
    
}





.content{
    width: 1050px;
    margin: 0 auto;
}
.content_row-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.content_col-1__text{
    font-size: 24px;
    font-family: 'Commissioner', sans-serif;
width: 515px;
}
.content_row-1_btn-1{
    background-color: #131313;
    width: 225px;
    height: 50px;
    font-size: 24px;
    color: #fff;
    font-family: 'Commissioner', sans-serif;
    position: absolute;
    text-align: center;
    padding: 10px;
    margin: 30px 0px 0px 145px;
}

.content_row-1_btn-1:hover{
    border-bottom: 3px solid #EB0004;
}

.content_row-2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.content_col-2__text{
    font-size: 24px;
    font-family: 'Commissioner', sans-serif;
    width: 515px;
}
.content_row-2_btn-2{
    background-color: #131313;
    width: 225px;
    height: 50px;
    font-size: 24px;
    color: #fff;
    font-family: 'Commissioner', sans-serif;
    position: absolute;
    text-align: center;
    padding: 10px;
    margin: 30px 0px 0px 145px;
}

.row-2_btn_none-links{
    position: relative;
    cursor: pointer;
}
.row-2_btn_none-links:before{
    display: block;
position: absolute;
width: 120px;
background-color: rgba(0, 0,0, 85);
margin-left: 200px;
    bottom: -25px;
padding: 5px;
text-align: center;
font-size: 10px;
color: #fff;
content: attr(data-title);
visibility: hidden;
opacity: 0;
transition:0.3s;
}
.row-2_btn_none-links:hover:before{
    visibility: visible;
     opacity: 1;
}


.content_row-3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.content_col-3__text{
    font-size: 24px;
    font-family: 'Commissioner', sans-serif;
    width: 515px;
}
.content_row-3_btn-3{
    background-color: #131313;
    width: 225px;
    height: 50px;
    font-size: 24px;
    color: #fff;
    font-family: 'Commissioner', sans-serif;
    position: absolute;
    text-align: center;
    padding: 10px;
    margin: 30px 0px 0px 145px;
}

.row-3_btn_none-links{
    position: relative;
    cursor: pointer;
}
.row-3_btn_none-links:before{
    display: block;
position: absolute;
width: 120px;
background-color: rgba(0, 0,0, 85);
margin-left: 200px;
    bottom: -25px;
padding: 5px;
text-align: center;
font-size: 10px;
color: #fff;
content: attr(data-title);
visibility: hidden;
opacity: 0;
transition:0.3s;
}
.row-3_btn_none-links:hover:before{
    visibility: visible;
     opacity: 1;
}

.content_row-4{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.content_col-4__text{
    font-size: 24px;
    font-family: 'Commissioner', sans-serif;
    width: 515px;
}
.content_row-4_btn-4{
    background-color: #131313;
    width: 225px;
    height: 50px;
    font-size: 24px;
    color: #fff;
    font-family: 'Commissioner', sans-serif;
    position: absolute;
    text-align: center;
    padding: 10px;
    margin: 30px 0px 0px 145px;
}
.content_row-4_btn-4:hover{
    border-bottom: 3px solid #EB0004;
}




.content-2_title{
    font-size: 30px;
    font-family: 'Commissioner', sans-serif;
    margin: 50px 0px 25px 0px;
}
.content-2_row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.content-2_row a{
    color: #000000;
}
.content-2_col-1{
    display: flex;
    flex-direction: column;
    width: 328px;
}
.content-2_text-1{
    font-size: 18px;
    font-family: 'Commissioner', sans-serif;
    padding-top: 20px;
}

.content-2_col-1:hover{
    transform: scale(1.1,1.1);
    transition:0.2s;
}


.content-2_col-2{
    display: flex;
    flex-direction: column;
    width: 328px;
}
.content-2_text-2{
    font-size: 18px;
    font-family: 'Commissioner', sans-serif;
    padding-top: 20px;
}

.content-2_col-2:hover{
    transform: scale(1.1,1.1);
    transition:0.2s;
}

.content-2_col-3{
    display: flex;
    flex-direction: column;
    width: 328px;
}
.content-2_text-3{
    font-size: 18px;
    font-family: 'Commissioner', sans-serif;
    padding-top: 20px;
}
.content-2_col-3:hover{
    transform: scale(1.1,1.1);
    transition:0.2s;
}



.aside{
    background-color: #000000;
    height: 480px;
    width: 100%;
    color: #fff;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
    padding-top: 80px;
}
.aside a{
    color: #fff;
}
.aside_container{
    width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
h4{
    font-size: 30px;
    padding-bottom: 20px;
}
.aside_container_list-1 a{
 display: block;
 margin-bottom: 35px;
 text-transform: uppercase;
 
}
.aside_container_list-2 a{
    display: block;
    margin-bottom: 35px;
    text-transform: uppercase;
}
.aside_container_list-3 a{
    display: block;
    margin-bottom: 35px;
     text-transform: uppercase;
}
.aside_container_list-4 a{
    display: block;
}
.btn_icon{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.btn_icon:hover{
    transform: scale(1.2,1.2);
    transition:0.2s;
}
.aside a:hover{
text-decoration: underline;
}





.aside_none-links{
    position: relative;
    cursor: pointer;
 }
 .aside_none-links:before{
 display: block;
 position: absolute;
 width: 120px;
 background-color: #fff;
 bottom: 5px;
 padding: 5px;
 text-align: center;
 font-size: 10px;
 color: #000000;
 content: attr(data-title);
 visibility: hidden;
 opacity: 0;
 transition:0.3s;
 
 }
 .aside_none-links:hover:before{
     visibility: visible;
      opacity: 1;
 }